parameters:
    tmpDir: 'tmp/cache/phpstan'
    bootstrap: %rootDir%/../../../../tests/bootstrap.php
    ignoreErrors:
        - '#Access to an undefined property Josbeir\\Filesystem\\FileEntity::\$(.*)#'
